<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ET-Tool</name>
    <description>
        ET-Tool LUH10
    </description>
    <author email="phamvanquan.gx2@gmail.com" href="http://doko.ani.vn">
        LUH10 Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
